/* Global */
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFc107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}

html {
    font-size: 62.5%;
    box-sizing: border-box; /* Hack del Box Model */
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,h2,h3 {
    text-align: center;
}

a {
    text-decoration: none;
}

body {
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to bottom, #f5f7fa 0%, #c3cfe2 175%);
}

.boton {
    background-color: #8520DA;
    color: #ffffff;
    padding: 1rem 3rem;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: .5rem;
    width: 65%;
    text-align: center;
    border: none;
    margin: 2rem 5rem 2rem 5rem;
}

.botonUcol {
    background-color: #ffffff;
    padding: 1rem 3rem;
    font-size: 2rem;
    text-decoration: none;
    font-size: 20;
    border-radius: .5rem;
    width: 65%;
    text-align: center;
    border: 1;
    margin: 2rem 5rem 1rem 5rem;
}

.width-usuario {
    width: 80%;
    background-color: #ffffff;
    text-align: center;
    padding: 1rem 3rem;
}

.color-agregar {
    background-color: #8520DA;
    color: #ffffff;
    width: 90%;
    text-align: left;
    padding: 1rem 1rem;
}

.extras {
    background-color: #8520DA;
    color: #ffffff;
    width: 93%;
    text-align: center;
    padding: 1rem 1rem;
}

.boton-usuario {
    font-size: 2rem;
    text-decoration: none;
    font-size: 20;
    border-radius: .5rem;
    border: 0;
    margin: 1rem;
}

.boton:hover {
    cursor: pointer;
}

.imagen-ucol {
    background-image: url(../img/ucol.png);
    padding-left: 20px; /* Espacio para la imagen */
    background-position: 4rem;
    background-repeat: no-repeat;
}

.imagen-usuario {
    background-image: url(../img/usuario.png);
    padding-right: .1rem; /* Espacio para la imagen */
    background-position: 0.5rem;
    background-repeat: no-repeat;
}

.button-with-image {
    background-size: 32px 32px; /* Tamaño deseado de la imagen */
}

.botonRegistro {
    background-color: #8520DA;
    color: #ffffff;
    padding: 1rem 3rem;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: .5rem;
    width: 30%;
    text-align: center;
    border: none;
    margin: 2rem 1.4rem 2rem 1.4rem;
}

.contenedor {
    max-width: 60rem;
    margin: 150 auto;  
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedor-registro {
    max-width: 60rem;
    margin: 100 auto 150 auto;  
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sombra { /* CSS matic */
    -webkit-box-shadow: 0px 5px 15px 0px rgba(82,82,82,1);
    -moz-box-shadow: 0px 5px 15px 0px rgba(82,82,82,1);
    box-shadow: 0px 5px 15px 0px rgba(82,82,82,1);
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
}

.campo {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
    margin: 0 100 0 100;
}

.input-text {
    width: 100%;
    border: 1;
    padding: 1.5rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.servicio {
    display: flex;
    justify-content: center;
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
}

.navegacion-principal a {
    color: #000000;
}

.contenedor-principal {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Una columna para cada contenedor */
}

.contenedor-izquierdo {
    grid-column: 1;
    max-width: 30rem;
    max-height: 74rem;
    padding-bottom: 74rem;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(82,82,82,1);
    -moz-box-shadow: 0px 5px 15px 0px rgba(82,82,82,1);
    box-shadow: 0px 5px 15px 0px rgba(82,82,82,1);
    background-color: #ffffff;
}

.contenedor-centro {
    grid-column: 2;
    max-width: 74rem;
    max-height: 74rem;
    padding-bottom: 74rem;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(82,82,82,1);
    -moz-box-shadow: 0px 5px 15px 0px rgba(82,82,82,1);
    box-shadow: 0px 5px 15px 0px rgba(82,82,82,1);
    background-color: #ffffff;
}

.contenedor-derecho {
    grid-column: 3;
    max-width: 30rem;
    max-height: 74rem;
    padding-bottom: 74rem;
    margin-left: 7rem;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(82,82,82,1);
    -moz-box-shadow: 0px 5px 15px 0px rgba(82,82,82,1);
    box-shadow: 0px 5px 15px 0px rgba(82,82,82,1);
    background-color: #ffffff;
}

.notas {
    width: 100%;
    height: 67rem;
    border: none;
    outline: none;
    resize: none;
    padding: 1.5rem;
}

.tareas {
    display: flex;
    align-items: center;
    background-color: #DBD8DF;
    text-align: left;
    width: 67rem;
    margin: 2rem 3rem;
    border-radius: 1rem;
    padding: 1rem 1rem;
    border: none;
}

.margin-extra {
    margin-left: 1rem;
}

.tabla {
    margin: 0 auto; /* Para centrar la tabla horizontalmente */
    text-align: left;
    width: 74rem;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #fff;
    width: 30rem;
    margin: 8rem auto;
    padding: 20px;
    border-radius: 1rem;
}

.diseño-tareas {
    margin: 2rem 1rem;
    width: 67rem;
    border-radius: 1rem;
    padding: 1rem 0 1rem 3rem;
}

li {
    background-color: #DBD8DF;
    margin: 2rem auto;
    width: 67rem;
    border-radius: 1rem;
    padding: 1rem 1rem
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.4rem;
      }
    
      h2 {
        font-size: 2rem;
      }
    
      h3 {
        font-size: 1.6rem;
      }
    
      .boton, .botonUcol, .botonRegistro {
        width: 100%;
        margin: 1rem 0;
      }

      .contenedor, .contenedor-registro {
        margin: 100px auto;
      }

      .campo {
        margin: 0;
      }
    
      .input-text {
        margin-bottom: 0.5rem;
      }
    
      .servicio {
        flex-direction: column;
        align-items: flex-start;
      }
}